.installation-page {
	background-color: rgb(43, 43, 43);
	color: white;
}

.installation-page-header {
	font-size: 30px;
	padding: 30px 30px 15px 30px;
	font-family: 'Fira Sans', sans-serif;
	text-align: left;
	margin-left: 30px;
	color: rgb(74, 242, 228);
}

.installation-page-directions-step a {
	/* text-decoration: none; */
	color: rgb(158, 239, 131);
}

.installation-page-directions-step a:visited {
	color: rgb(158, 239, 131);
}

.installation-page-directions-container {
	padding-bottom: 30px;
}

.installation-page-directions-step,
.installation-page-faq-heading,
.installation-page-faq-text {
	text-align: left;
	margin-left: 30px;
	padding: 10px 30px 10px 30px;
	font-family: 'DM Sans', sans-serif;
}

.installation-page-faq-list-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.installation-page-faq-heading {
	font-size: 20px;
	color: rgb(74, 242, 228);
}

.installation-page-directions-step a:hover {
	color: rgb(74, 242, 228);
}

.installation-page-directions-step img {
	display: block; /* Ensures images start on a new line */
	margin-top: 30px; /* Adds some spacing above and below the image */
	height: auto; /* Maintains aspect ratio */
}

.highlighted-installation-text {
	color: rgb(158, 239, 131);
	font-weight: 600;
}

.installation-page-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tab-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; /* Allows buttons to wrap into multiple rows */
	justify-content: space-evenly;
	gap: 10px;
	margin: 15px 10px;
}

/* Styling for tab buttons */
.tab-navigation button {
	flex: 1 1 auto; /* Auto size with respect to container */
	padding: 10px 20px;
	border: none;
	background-color: rgb(74, 74, 74);
	color: white;
	cursor: pointer;
	font-family: 'Fira Sans', sans-serif;
	border-radius: 5px;
	transition: background-color 0.3s;
}

/* Active tab button styling */
.tab-navigation button.active {
	background-color: rgb(74, 242, 228);
	color: rgb(43, 43, 43);
}

.tab-navigation button:hover {
	background-color: rgb(158, 239, 131);
}

/* Responsive adjustments */

/* At 1000px and below, display buttons in two rows of three */
@media (max-width: 1000px) {
	.tab-navigation button {
		flex: 1 1 30%; /* Adjusts button width to fit three per row */
	}
}

/* At 700px and below, stack buttons in a single column */
@media (max-width: 400px) {
	.tab-navigation {
		flex-direction: column; /* Stack the buttons vertically */
		align-items: center; /* Center align the buttons */
		margin: 15px;
	}
	
}

/* Panel container to hold the selected content */
.panel-container {
	border-radius: 5px;
	padding: 20px;
	background-color: rgb(30, 30, 30);
}

@media (max-width: 575px) {
	.installation-page-directions-step img {
		width: 100%;
	}
}
