.installation-page {
  background-color: rgb(43, 43, 43);
  color: white;  
}

.installation-page-header {
  font-size: 30px;
  padding: 30px;
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  margin-left: 30px;
  color: rgb(74, 242, 228);
}

.installation-page-directions-step a {
  text-decoration: none;
  color: rgb(158, 239, 131);
}

.installation-page-directions-step a:visited {
  color: rgb(158, 239, 131);
}

.installation-page-directions-container {
  padding-bottom: 30px;
}

.installation-page-directions-step,
.installation-page-faq-heading,
.installation-page-faq-text {
  text-align: left;
  margin-left: 30px;
  padding: 10px 30px 10px 30px;
  font-family: "DM Sans", sans-serif;
}

.installation-page-faq-list-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.installation-page-faq-heading {
  font-size: 20px;
  color: rgb(74, 242, 228);
}

.installation-page-directions-step a:hover {
  color: rgb(74, 242, 228);
}