@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Basic layout and styles */
.App {
	font-family: Arial, sans-serif;
	text-align: center;
	/* margin: 3vw 3vw 0 3vw; */
	padding: 0;
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.banner,
.footer {
	background-color: black;
	color: white;
	padding: 30px 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-family: 'Fira Sans', sans-serif;
}

.banner {
	font-size: 24px;
	font-weight: 600;
}

.footer {
	font-size: 14px;
	height: 2vh;
	color: rgb(74, 242, 228);
	font-weight: 500;
}

.navbar a {
	color: white;
	/* margin: 10px 20px; */
	/* margin-top: 10px; */
	text-decoration: none;
	padding: 5px 10px;
	transition: background-color 0.3s;
	font-size: 16px;
	border-radius: 15px;
}

.navbar a:hover {
	color: rgb(74, 242, 228);
}

.footer a {
	color: white;
	text-decoration: none;
}

.site-title {
	font-size: 40px;
}

.navbar,
.footer a:hover {
	color: rgb(74, 242, 228);
}

/* Details styling */
.details-panel,
.download-section {
	background-color: rgb(43, 43, 43);
	padding: 30px 15px 30px 15px;
	display: flex;
	justify-content: space-between;
	font-family: 'DM Sans', sans-serif;
	flex-grow: 1;
}

/* .download-box {
	margin-top: 55px;
} */

.details-header,
.download-box p,
.description-box-header {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: rgb(74, 242, 228);
}

.details-header {
	font-size: 22px;
}

.details-inset {
	padding: 30px;
	color: white;
	border-radius: 15px;
	font-weight: 300;
	margin-left: 30px;
	margin-right: 30px;
}

/* Download section styling */
.download-section {
	position: relative;
	background-image: url('../public/images/dj_bench.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center -360px;
	/* padding: 50px; */
}

.download-section::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
	z-index: 1;
}

.download-section > * {
	position: relative;
	z-index: 2;
}

/* .download-box,
.description-box {
	padding: 100px;
} */

.download-box,
.description-box {
	flex: 1;
	box-sizing: border-box;
	color: white;
}

.download-header {
	font-size: 30px !important;
	margin-top: 40px;
}

/* Description box styling */
.description-box {
	border-radius: 15px;
}

.description-box-header {
	font-size: 28px;
	margin: 20px 150px 40px 150px;
}

.description-box-text {
	margin: 40px 55px 40px 55px;

	font-family: 'DM Sans', sans-serif;
	font-size: 24px;
	font-weight: 300 !important;
}

.navbar-element {
	margin-top: 12px;
}

/* Buttons styling */
button {
	padding: 20px 35px;
	background-color: rgb(49, 49, 49);
	border: none;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-family: 'DM Sans', sans-serif;
	font-size: 1em;
}

button:hover {
	background-color: rgb(74, 242, 228);
	color: rgb(49, 49, 49);
}

@media (min-width: 1400px) {
	.details-inset {
		margin-left: 80px;
		margin-right: 80px;
	}
}

@media (max-width: 1200px) {
	.description-box-header {
		margin: 20px 80px 40px 80px;
	}
}

/* Media query for responsiveness */
@media (max-width: 900px) {
	.download-section,
	.details-panel {
		flex-direction: column;
	}

	.download-box,
	.description-box {
		width: 100%;
		padding: 5px;
		margin-bottom: 30px;
	}

	.description-box-text {
		margin-left: 5px;
		margin-right: 5px;
	}

	.description-box-header {
		margin: 20px 20px 40px 20px;
	}

	.details-inset {
		margin-left: 5px;
		margin-right: 5px;
	}
}
